{% extends 'base.html' %}
{%block sidebar%}
          {%include 'inc/_sidebar.html'%}

{%endblock%}


{%block content%}
            <div class="card text mb-3">
                <div class="card-header">
                    Категория :<a href="{{news_item.category.get_absolute_url}}">
                    {{news_item.category}} </a>
                </div>
                <div class="card-body">
                    {%if news_item.photo%}
                    <img src="{{news_item.photo.url}}" alt=""
                         width="300" height="250" class="mr-3">
                    {%else%}
                    <img src="https://yandex.ru/images/search?from=tabbar&text=%D1%8F%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%20%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0&pos=4&img_url=https%3A%2F%2Fscontent-hel2-1.cdninstagram.com%2Fv%2Ft51.2885-15%2Fe35%2F83894165_281038669521812_4615004552382897330_n.jpg%3F_nc_ht%3Dscontent-hel2-1.cdninstagram.com%26_nc_cat%3D108%26_nc_ohc%3DB2GSRXIsU-YAX8a3n7b%26oh%3Deaad384ef38a085884214cb5b7926f9f%26oe%3D5EA1CB06&rpt=simage"
                         width="300" height="250" class="mr-3">
                    {%endif%}
                    <div class="media-body">
                        <h5 class="card-title">{{news_item.title}}</h5>
                        <p class="card-text">{{news_item.content}}</p>

                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{news_tem.created_at|date:'Y-m-d H:i'}}
                </div>
            </div>


{%endblock%}

